<!DOCTYPE html>
<html>
	<body>
				<p id="notice"></p>

				<%= render 'info', user: current_user %>
				<!-- 投稿 -->
				<%= render 'books/form', book: @book %>
				<!-- 投稿一覧 -->
				<%= render 'index', users: @users %>

		</div>
	</body>
</html>